*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color:#b4d0e7 ;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2rem;
}
nav ul li{
  display: inline-block;
  list-style-type: style type none;
}
div.jumbotron{
  display: flex;
  justify-content: center;
  padding: 7rem;
}
.big-column{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.small-column{
  width: 50%;
  padding-left: 5rem;
}
.up-jumb{
text-align: center;
}
.main-contenitor{
  padding: 3rem;
}
.up-article{

}
div.radio{
  display:flex;
padding: 3rem;
}
input{
  margin: 0.1rem 0.4rem 0 1rem;
}
.up-article  > p {
display: inline-block;
}
.flex{
  display: flex;
}
article.cards{
  width: 20%;
padding-left: 5rem;
border: 1px solid black;
text-align: left;
padding: 3rem 5rem;
}
.hr-article{
  padding: 2rem 0rem;
  width: 30%;
}
article.cards .upcard ul{
  list-style-type: none;
}
article.cards .upcard ul li{
  padding-bottom: 1rem;
}
div.main-contenitor{
  flex-direction: column;
}
div.center-main{
  margin: 0 10rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-content: center; 
}
section.team{
  margin: 5rem;
  border: 1px solid black;
}