*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color:#b4d0e7 ;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2rem;
}
nav ul li{
  display: inline-block;
  list-style-type: style type none;
}
div.jumbotron{
  display: flex;
  justify-content: center;
  padding: 7rem;
}
.big-column{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.small-column{
  width: 50%;
  padding-left: 5rem;
}
.up-jumb{
text-align: center;
}
.main-contenitor{
  /* padding: 3rem; */
display: flex;
justify-content: center;
align-items: center;
}
.up-article{
display: flex;
align-items: flex-start;
}
div.radio{
  display:flex;
padding: 3rem;
}
input{
  margin: 0.1rem 0.4rem 0 1rem;
}
.targa{
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
}
.up-article  > p {
display: inline-block;
}
.flex{
  display: flex;
}
.targa{
  padding: 1rem;
  font-size: 1.3rem;
}
article.cards{
  width: 20%;
border: 1px solid black;
text-align: left;
}
.button{
  padding: 8px 10px;
  /* font-size: 1rem; */
}
div.main-card{
  padding: 2rem;
}
.hr-article{
  padding: 2rem 0rem;
  width: 30%;
}
article.cards .upcard ul{
  list-style-type: none;
}
article.cards .upcard ul li{
  padding-bottom: 1rem;
}
div.main-contenitor{
  flex-direction: column;
}
div.center-main{
  margin: 0 10rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-content: center; 
}
section.team{
  margin: 5rem;
  border: 1px solid black;
  height: 70%;
  width: 70%;
}
div.team{
display: flex;
justify-content: space-between;
padding: 1rem;
}
section.team >h3{
  border: 1px solid black;
  text-align: center;
}
.column-team-left{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.column-team-left > p{
 padding-top: 1rem;
 font-size: 1.2rem;
}
section.ph-dropbox{
  height: 70%;
  width: 70%;
}
div.ph-dropbox-container-left{
  display: flex; 
}
section.dropbox-business{
  flex-direction: column;
  padding: 3rem 10rem;
}
#dpbs{
  text-align: center;
}
div.container-dropbox-business{
  padding:  5rem 0;
  justify-content: space-around;
}
div.db-bs-card{
  width: 20%;
}
div.big-boxes-head{
  text-align: left;
  padding-left: 13%;
}
div.container-boxes{
  background-color:#f5f5f5;
}
.boxes{
  background-color: blueviolet;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  flex-wrap:wrap ;
}
.inner-boxes{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-img{
  filter: invert(1);
  transform: scale(.6);  
}
.florida{
  align-items: center;
  filter: invert(1);
}
#greenbox{
  background-color: #a2d39b;
  border: 1rem solid #d1e9cd;
}
#dredbox{
  background-color:#61082b ;
}
#azzurebox{
  background-color:#0093ce ;
}
#redbox{
  background-color:#ff1c1c ;
}
div.center-box{
  flex-direction: column;
  padding: 2rem;
  gap: 4rem;
  background-color: #f5f5f5;
}
.hr{
  border: 1px solid grey;
  width: 30%;
  filter: opacity(.6);
}
div.center-box-lw > p{
  font-size: 1.6rem;
  padding-bottom: 3rem;
}
#diffredbox{
  background-color: #d5001f;
}
#lightblue{
  background-color: #b4d0e7;
}
#blue{
  background-color:#0d2481 ;
}
#yellow{
  background-color: #ffd830;
}
.bg-blu{
  background-color:#0061ff;
}
.font-white{
  color: white;
}
.main-card > h3{
  padding: 1rem;
}
#teambtn{
  font-size: 1.5rem;
}

