*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color:#b4d0e7 ;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2rem;
}
nav ul li{
  display: inline-block;
  list-style-type: style type none;
}
div.jumbotron{
  display: flex;
  justify-content: center;
}

